<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/management/base_layout}">
<head>
    <title>[관리자 전용] - 회원 목록</title>
</head>
<body>
<th:block layout:fragment="content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">이메일</th>
                <th scope="col">회원명</th>
                <th scope="col" class="width-10p">수정일</th>
                <th scope="col" class="width-10p">등록일</th>
                <!--<th scope="col" class="width-10p"></th>-->
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle" th:each="member : ${memberPage.dataList}">
                <th scope="row" th:text="${member.id}">1</th>
                <td th:text="${member.email}">이메일</td>
                <td th:text="${member.name}">회원명</td>
                <td th:text="${#temporals.format(member.updatedAt, 'yyyy-MM-dd')}">수정일</td>
                <td th:text="${#temporals.format(member.createdAt, 'yyyy-MM-dd')}">등록일</td>
               <!-- <td>
                    <a type="button" class="btn btn-light" role="button"
                       th:href="@{/management/member/detail(id=${member.id})}">상세보기</a>
                </td>-->
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${memberPage.hasPrev}">
                <a class="page-link"
                   th:href="@{/management/member/list(role=${role}, page=${memberPage.pageNumber - 1})}">Previous</a>
            </li>
            <th:block th:each="page : ${memberPage.pages}">
                <li class="page-item" th:classappend="${memberPage.pageNumber == page} ? 'active'">
                    <a class="page-link"
                       th:href="@{/management/member/list(role=${role}, page=${memberPage.pageNumber})}"
                       th:text="${page}">1</a>
                </li>
            </th:block>
            <li class="page-item" th:if="${memberPage.hasNext}">
                <a class="page-link"
                   th:href="@{/management/member/list(role=${role}, page=${memberPage.pageNumber + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</th:block>
</body>
</html>