<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>상세 페이지</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <th:block layout:fragment="css">
    <link th:href="@{/css/detail/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/detail/noscript.css}" /></noscript>
  </th:block>

  <th:block layout:fragment="script">

  </th:block>
</head>
<body class="is-preload">
<div id="page-wrapper">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- 로고 & 페이지 간단소개-->
    <section class="panel banner right">
      <div class="content color0 span-3-75">
        <h1 class="major"><span th:text="${brandDTO.name}"></span> 상세정보</h1>
        <h4>
          당신이 즐겨 입거나 몰랐던 브랜드들의 정보를 확인하세요.<br/>
          현 페이지는 <strong th:text="${brandDTO.name}"></strong>의 대한 정보를 열람하실 수 있습니다.
        </h4>
        <ul class="actions">
          <li><a href="#first" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>
        </ul>
      </div>
      <div class="image filtered span-1-75" data-position="25% 25%">
        <!--로고 이미지 출력-->
        <img src="/images/noimg.jpg" alt="" />
      </div>
    </section>

    <!-- Panel (Spotlight) -->
    <section class="panel spotlight medium left" id="first">
      <div class="content color0 span-7">
        <h2 class="major">브랜드 명: <span th:text="${brandDTO.name}"></span></h2>
        <h4>
          설립 연도 : <span th:text="${brandDTO.year}"></span>년<br/>
          브랜드 설명 : <br>
          <span th:text="${brandDTO.description}"></span><br/>
          <br/>
          홈페이지 : <a th:text="${brandDTO.homepage}" th:href="${brandDTO.homepage}" target="_blank"></a> <br>
          본사 주소 : <span th:text="${brandDTO.address}"></span>
        </h4>
      </div>
      <div class="image filtered tinted" data-position="top right">
        <!--빌딩 이미지 출력-->
        <img src="/images/noimg.jpg" alt="" />
      </div>
    </section>
    <!--&lt;!&ndash; 지도 AIP 추가시 활성화 &ndash;&gt;
    <section class="panel spotlight small right">
      <div class="contentadd  span-8">
        <h2 class="major">주소</h2>
        <h4 th:text="${brandDTO.address}"></h4>
      </div>
      <div class="image filtered tinted" data-position="top left">
        &lt;!&ndash;빌딩 이미지&ndash;&gt;
        <img src="/images/noimg.jpg" alt="" />
      </div>
    </section>-->
    <!-- Panel -->
    <section class="panel color2-alt">
      <div class="intro color2">
        <h4 class="major">수정 요청</h4>
        <h5>정보가 잘못 되었다면 수정을 요청 하시길 바랍니다.</h5>
        <ul class="actions">
          <li><a href="#" class="button primary color2 icon solid fa-cog" onclick="notImplemented()">수정 요청</a></li>
        </ul>

        <h4 class="major">다시 스캔</h4>
        <h5>다른 이미지를 스캔하실려면 버튼을 클릭하세요.</h5>
        <ul class="actions">
          <li><a th:href="@{/}" class="button primary color2 icon solid fa-gem" >다른 이미지 스캔</a></li>
        </ul>
      </div>
    </section>
    <!-- Copyright -->
    <div class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>
  </div>
</div>
<!--script-->
<script th:src="@{/js/detail/jquery.min.js}"></script>
<script th:src="@{/js/detail/browser.min.js}"></script>
<script th:src="@{/js/detail/breakpoints.min.js}"></script>
<script th:src="@{/js/detail/main.js}"></script>
</body>
</html>