<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>요청 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block layout:fragment="css">
        <link th:href="@{/css/request/request.css}" rel="stylesheet">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/request/request.js}"></script>
    </th:block>
</head>

<body id="particles-js">
<div class="animated bounceInDown">
    <div class="container">
        <span class="error animated tada" id="msg"></span>
        <form th:action="@{/brand/request}" method="post" enctype="multipart/form-data" name="form1" class="box" th:object="${requestDTO}">
            <h2>브랜드 등록 <span>요청하기</span></h2>
            <h5>추가 할 브랜드의 <span>제품사진</span>이나 <span>로고사진</span>등이 필요합니다. </h5>
            <input type="text" id="title" placeholder="제목을 입력하세요" th:field="*{title}">
            <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></p>
            <textarea class="form-control" rows="8" id="content"   placeholder="추가적인 내용을 입력하세요." th:field="*{content}"></textarea>
            <div class="form-check mb-3">

                <input  type="file" class="form-control" id="imgPath" name="imgPath"  th:field="*{imageFile}" accept=".jpg, .png" >
            </div>

            <input type="submit" value="요청등록" class="btn1" onclick="imgerror()">
        </form>
        <input type="button" value="요청 취소" class="btn2" th:onclick="|location.href='@{/}'|">
    </div>

</div>
</body>
</html>