<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>수정 요청 작성</title>
    <th:block layout:fragment="css">
        <link th:href="@{/css/retouch/retouch.css}" rel="stylesheet">
    </th:block>

    <th:block layout:fragment="script">

    </th:block>
</head>
<body>
<div class="login-box">
    <h2>수정 요청 작성</h2>
    <form th:action="@{/brand/retouch}" method="post" th:object="${brandRetouchDTO}">
        <div class="user-box">
            <input type="text" name="title" th:field="*{title}">
            <label>제목</label>
        </div>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></p>

        <div class="user-box">
            <textarea  name="content" rows="6" id="content" th:field="*{content}"
                       placeholder="내용을 상세히 입력해 주세요.&#13;&#10;&#13;&#10;(예 : ○○○의 브랜드 정보가 잘못되어 수정을 요청드립니다.)"></textarea>
            <label>내용</label>
        </div>
        <button type="submit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            요청 등록
        </button>
    </form>
    <button type="button" class="buttons"  th:onclick="|location.href='@{/brand/detail(id=${id})}'|">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        취소
    </button>

</div>
</body>
</html>